@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

        * {
        box-sizing: border-box;
        }
        .container {
            max-height: 100vh;
        }

        body{
            background: url(../background/drums.jpg) no-repeat center center fixed;
            background-size: cover;
        }
        .key{
            color: white;
            font-family: 'Fredoka One', cursive;
            font-size: 5vh;
            cursor: pointer;
            transition: all 0.1s;
            width: 2em;
            height: 5vh;
            display: inline-block;
            text-align: center;
            margin-left: 1em;
            padding-top: 0.7em;
        }

        .hover{
            opacity: 0.5;
        }

        audio {
            display: none;
        }
